.App {
  text-align: center;
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.visualization-space {
  display: flex;
  justify-content: center;
}

.OBar {
  padding-left: 15px;
  padding-top: 15px;
}

#Wholesale {
  display: flex;
  align-items: center;
}

#Breast_Cancer {
  display: none;
  align-items: center;
}

#Auto_MPG {
  display: none;
  align-items: center;
}


.Upper {
  display: flex;
  flex-direction: row;
}

.Model {
  display: flex;
  flex-direction: row;
}

.Lower {
  display: flex;
  flex-direction: row;
}

.mainplot {
  width: 125px;
  height: 100px;
  border-style: solid;
  border-color: black;
  margin-right: 20px;
}

.plot {
  width: 200px;
  height: 150px;
}